# Created by https://www.toptal.com/developers/gitignore/api/dotenv,direnv
# Edit at https://www.toptal.com/developers/gitignore?templates=dotenv,direnv

### direnv ###
.direnv
.envrc

### dotenv ###
.env

### Ansible ###
*.retry

.galaxy_install_info

users.csv